.egml-dashboard_tiles {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
}
.egml-dashboard_tiles:last-child {
	margin-bottom: 0;
}

html.no-flex .egml-dashboard_tiles,
html.flexboxtweener .egml-dashboard_tiles,
html.no-flexwrap .egml-dashboard_tiles {
  display: block;
}

.egml-dashboard_tiles-tile {
  display: inline-block;
  padding: .9em .9em 1.4em;
  color: #333;
  text-decoration: none;
  box-shadow: 0 0.1em 0.35em rgba(0, 0, 0, 0.08);
  float: none;
  vertical-align: top;
  margin: 0 1.5em 1.5em 0;
  width: 14em;
}

@media (max-width: 768px) {
  .egml-dashboard_tiles-tile {
    margin-right: 3.5%;
    width: 31%;
    box-sizing: border-box;
  }

  .egml-dashboard_tiles-tile:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .egml-dashboard_tiles-tile {
    margin-right: 4%;
    width: 48%;
  }

  .egml-dashboard_tiles-tile:nth-child(2n+1) {
    margin-right: 4%;
  }

  .egml-dashboard_tiles-tile:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 470px) {
  .egml-dashboard_tiles-tile {
    margin-right: 0;
    width: 100%;
  }

  .egml-dashboard_tiles-tile:nth-child(2n+1) {
    margin-right: 0;
  }
}
.egml-dashboard_tiles-tile:hover,
.egml-dashboard_tiles-tile:focus {
  color: #333;
  text-decoration: none;
}

a.egml-dashboard_tiles-tile:hover,
a.egml-dashboard_tiles-tile:focus {
  border-color: #0088cc;
}

.egml-dashboard_tiles-tile--in_progress {
  opacity: .4;
}

.egml-dashboard_tiles-tile-screen {
  display: block;
  background: #f0f0f0;
  text-align: center;
  padding: 3em 0;
  margin-bottom: .85em;
}

.egml-dashboard_tiles-tile-icon {
  font-size: 3em;
}

.egml-dashboard_tiles-tile-title {
  display: block;
  font-size: 1.1em;
  font-weight: 700;
}

.egml-dashboard_tiles-tile-description {
  display: block;
  font-size: .85em;
  margin-top: .7em;
  line-height: 1.5;
}
